#top {
    --dark-color: #008ABB;
}
#footer .container {
    max-width: 100%;
    padding: 0px;
}
#wssc_footer {
    background-color:#2D8ABB;
    color:#ffffff;
}
#goldSponsors{
    display:flex;
}
#custom_html-5{
    margin-bottom:0px !important;
}
#custom_html-9{
    margin-top:0px !important;
}


.fc-day-grid-event {
    border-radius: 10px;
    padding: 5px;
}

#wssc_footer #wssc_footer_right, #wssc_footer #wssc_footer_left{
    padding: 30px;
}

.showOnlyLoggedIn{
    display:none;
}
.logged-in .showOnlyLoggedIn{
    display:block;
}
.av-logo-container .logo {
margin-top: 0px!important;
}
@media (min-width: 990px) {
    #wssc_footer {
        display: flex;
    }
    #wssc_footer #wssc_footer_left{
        border-right:solid 1px #ffffff;
    }
    .av-logo-container .logo img {
        max-width: 200px;
        top: -20px;
    }
    .title_container{
        padding-left: 200px; 
        padding-right: 200px; 
    }
    .standardCenter{
        max-width:1310px;
        margin-left:auto;
        margin-right:auto;
    }
    .application--wrap .v-toolbar__content{
        padding-left:250px;
    }
}
